
	<p>
		<%= f.label :"[0][content]", "Answer" %>
		<%= f.text_field :"[0][content]" %>
		<%= f.radio_button :correct_answer, 0 %>
		<%= f.label :"[0][correct_answer]", "Correct answer"%> 
	</p>
	<p>
		<%= f.label :"[1][content]", "Answer" %>
		<%= f.text_field :"[1][content]" %>
		<%= f.radio_button :correct_answer, 0 %>
		<%= f.label :"[1][correct_answer]", "Correct answer"%> 
	</p>	
	<p>
		<%= f.label :"[2][content]", "Answer" %>
		<%= f.text_field :"[2][content]" %>
		<%= f.radio_button :correct_answer, 0 %>
		<%= f.label :"[2][correct_answer]", "Correct answer"%> 
	</p>	
	<p>
		<%= f.label :"[3][content]", "Answer" %>
		<%= f.text_field :"[3][content]" %>
		<%= f.radio_button :correct_answer, 0 %>
		<%= f.label :"[3][correct_answer]", "Correct answer"%> 
	</p>	 

	