<% provide(:title, 'Question list') %>
<h1> Question list</h1>	
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<%= link_to "new question", new_question_path, class: "btn btn-success" %>
		<table border="1" style="width:100%"> 
		<%=select_tag 'subject',options_from_collection_for_select(@subjects, 'id', 'title') %>	
		  <tr>
		    <th>index</th>
		    <th>question</th>		
		    <th> answers</th>
		    <th>subject</th>
		    <th>action</th>
		  </tr>
		  <% @questions.each.with_index(1) do |question, index| %>
		  <tr>
		    <td><%= "#{index}" %></td>   	
		    <td><%= question.content %></td>
		    <td>
		    	<ul>
		    		<% question.answers.each do |answer| %>
		    			<% if answer.correct_answer %>
		    				<div id="correct" >
		    					<%= answer.content %>
		    				</div>
		    			<% else %>
		    				<%= answer.content %>
		    			<% end %>	
		    		<% end %>	
		    	</ul>	
		    </td> 
		    <td><%=question.subject.title  %></td>
		    <td><%= link_to "Edit",edit_question_path(question) %>
		  			| <%= link_to "Delete", question, method: :delete, data: { confirm: "You sure?" } %>
		  	</td> 
		  </tr> 
		  <% end %>
		</table>
	</div>
</div>	