<% provide(:title, 'Users') %>
<h1> Users List</h1>	
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<%= link_to "New user", new_user_path, class: "btn btn-success" %>
		<table border="1" style="width:100%">	
		  <tr>
		    <th>user name</th>		
		    <th>test</th>
		    <th>result</th>
		    <th>actions</th>
		  </tr>
		  <% @users.each.with_index(1) do |user| %>
		  	<% unless user.admin? %>
				  <tr>   	
				    <td><%= user.name %></td>
				    <td><%=  %></td>
				    <td><%=  %></td> 
				    
				    <td><%= link_to "Edit", "#" %>
				  	| <%= link_to "Delete", user, method: :delete, data: { confirm: "You sure?" } %>
				  	</td> 
		  		</tr> 
		  	<% end %>	
		  <% end %>
		</table>
	</div>
</div>	