<% provide(:title, 'Users') %>
<h1> Manage users </h1>	
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= link_to "New user", new_user_path, class: "btn btn-success" %>
		<table border="1" style="width:100%">	
		  <tr>
		    <th>user name</th>		
		    <th> subjects</th>
		    <th>actions</th>
		    <th>status</th>
		  </tr>
		  <% @users.each.with_index(1) do |user| %>
		  	<% unless user.admin? %>
				  <tr>   	
				    <td><%= user.name %></td>
				    <td>
				    	<% user.subjects.each do |subject| %>
				    		<%= subject.title %>
				    	<% end %>	
				    </td>
				    <td><%= link_to "Edit", edit_user_path(user) %>
				  	| <%= link_to "Delete", user, method: :delete, data: { confirm: "You sure?" } %>
				  	</td> 
				  	<td><%= "#"%></td>
		  		</tr> 
		  	<% end %>	
		  <% end %>
		</table>
	</div>
</div>	