<% provide(:title, 'Subject list') %>
<h1> Test</h1>	
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<table border="1" style="width:100%">	
		  <tr>
		    <th>index</th>
		    <th>subject</th>		
		    <th>number of questions</th>
		    <th>time</th>
		    <th>Ready</th>
		  </tr>
		  <% @subjects.each.with_index(1) do |subject, index| %>
		  <tr>
		    <td><%= "#{index}" %></td>   	
		    <td><%= subject.title %></td>
		    <td><%= 20  %></td> 	
		    <td><%= 30  %> minutes</td>
		    <td><%= link_to "START", new_test_path( subject_id: subject.id, user_id: current_user.id ), class: "btn btn-success" %></td>
		  </tr> 
		  <% end %>
		</table>
	</div>
</div>	