<% 4.times do |t| %>	
	<p>
		<%= f.label :"[#{t}][content]", "Answer" %>
		<%= f.text_field :"[#{t}][content]" %> 
		<%= f.check_box :"[#{t}][correct_answer]" %>
		<%= f.label :"[#{t}][correct_answer]", "Correct answer"%> 
	</p>	
	<%= file_field_tag :picture, accept: 'image/jpeg,image/gif,image/png' %>
<% end %>		
	