<div class="col-md-12 form-actions" data-id="2">
	<%= text_area_tag 'content', @question.content, :cols => "50", placeholder: "Create new question here...", required: true %>
	<%# file_field_tag :picture, accept: 'image/jpeg,image/gif,image/png' %>
	<%= hidden_field_tag 'question_type', 2 %>
	<%= fields_for :answers_attributes do |f| %>							
		<% 4.times do |t| %>	
			<p>
				<%= f.label :"[#{t}][content]", "Answer" %>
				<%= f.text_field :"[#{t}][content]" %> 
				<%= f.check_box :"[#{t}][correct_answer]" %>
				<%= f.label :"[#{t}][correct_answer]", "Correct answer"%> 
			</p>	
			<%# f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
		<% end %>	
	<% end %>		
</div>			