<div class="col-md-12 form-actions" data-id="1">
	<p>
		<%= text_area_tag 'content', params[:content], :cols => "50", placeholder: "Create new question here..." %>		
		<%= file_field_tag :picture , accept: 'image/jpeg,image/gif,image/png'%>
		<%= hidden_field_tag :question_type, 1 %>
		<%= fields_for :answers_attributes do |f| %>
			<% 4.times do |i| %>
				<p>
					<%= f.label :"[#{i}][answer]", "Answer" %> 
					<%= f.text_field :"[#{i}][content]" %>
					<%= f.radio_button :"[i][correct_answer]", "#{i}" %>
					<%= f.label :"[#{i}][correct_answer]", "Correct Answer" %>
					<%= f.file_field :"[#{i}][picture]", accept: 'image/jpeg,image/gif,image/png', id: "answer_picture" %> 
				</p>  
			<% end %>	
		<% end %>	
	  <!-- <#script type="text/javascript">
		   $(".retain_content").click(function() {
		 	 	 var x = $("#answers_attributes_[0][content]").text();
		      if (x == null || x == "") {
		        alert("content of answers must be filled out");
		        return false;
		      }
			});
		<#/script> -->
	</p>	
</div>	
		  
	
		
