<% provide(:title, 'Question') %>
<h1> Add Question </h1> 
<div class="row">
	<div class="col-md-6 col-md-offset-3">

		<%= form_tag ('/admin/questions'), html: { multipart: true } do %>
			<% if @question.errors.any? %>
			  <div id="error_explanation">
			    <div class="alert alert-danger">
			      The form contains <%= pluralize(@question.errors.count, "error") %>.
			    </div>
			    <ul>
			    <% @question.errors.full_messages.each do |msg| %>
			      <li><%= msg %></li>
			    <% end %>
			    </ul>
			  </div>
			<% end %>

			<%= label_tag 'subject' %>
			<%= select_tag 'subject_id', options_from_collection_for_select(@subjects, 'id','title')	%> </br>
			<%= link_to " single check ", new_admin_question_path(type: 'single'), remote: true %>
			| <%= link_to " multiple check ", new_admin_question_path(type: 'multiple'), remote: true %>
			| <%= link_to " short answer ", new_admin_question_path(type: 'short'), remote: true %>
	  	
	  	<div>
	  		<div id="short-answer">
	  			<%= render inline: "" %>
	  		</div>
	  		<div id="radio-answer">
		  		<%= render inline: "" %>	
		  	</div>	
		  	<div id="multi-answer">  	
		  		<%= render 'admin/questions/question' %>
		  	</div>
	  	</div>
			<%= submit_tag "Save", class: "btn btn-primary", data: { disable_with: "Please wait.." } %>
		<% end %>	
	</div>	
</div>
