<% provide(:title, 'Users') %>
<h1> Manage users </h1>	
<div class="row"> 
	<div class="col-md-8 col-md-offset-2">
		<%= link_to "New user", new_admin_user_path, class: "btn btn-success" %>
		<table border="1" style="width:100%">	
		  <tr>
		  	<th>index</th>
		    <th>user name</th>		
		    <th> subjects</th>
		    <th>actions</th>
		    <th>status</th>
		  </tr>
		  <% @users.each.with_index(1) do |user, index| %>	
			  <tr> 
			  	<td><%= "#{index}"%></td>  	
			    <td><%= user.name %></td>
			    <td>
			    	<% user.subjects.each do |subject| %>
			    		<%= link_to subject.title, admin_user_subject_path(subject) %>,
			    	<% end %>		
			    </td>
			    <td>	
			    	<%= link_to " Add subjects ", add_user_admin_user_subject_path(user) %>
				    | <%= link_to " Edit ", edit_admin_user_path(user) %>
				  	| <%= link_to " Delete ", admin_user_path(user), method: :delete, data: { confirm: "You sure?" } %>
			  	</td> 
			  	<td>
			  		<div id="block-<%= user.id %>">
			  			<% if user.status || user.login_limit? %>
			  				<%= render partial: 'block', locals: {user: user} %>	
			  			<% else %>	
			  				<%= render partial: 'unblock', locals: {user: user}%>	
			  			<% end %>
		  			</div>
			  	</td>
	  		</tr> 	
		  <% end %>
		</table>
	</div>
</div>	