<% provide(:title, 'Score') %>
<h1> review</h1>	
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		User name: <strong><%= @user.name %></strong>
		<table border="1" style="width:100%">	
		  <tr>	
		  	<th>index</th>
		    <th>subject</th>	
		    <th>score</th> 
		    <th>time</th>
		    <th>actions</th>
		  </tr>
		  <% @user.grades.each.with_index(1) do |grade, index| %>
		  	<%# if !grade.subject.nil? %>
				  <tr>
				  	<td><%= "#{index}" %></td>   	
				    <td><%= grade.subject.title %></td>
				    <td><%= link_to grade.score, admin_grade_path(grade) %></td> 
				    <td><%= time_ago_in_words(grade.created_at) %> ago</td>
				    <td>
				  		<%= link_to "Delete", admin_grade_path(grade), method: :delete, data: { confirm: "You sure?" } %>
				  	</td> 
		  		</tr> 	
		  	<%#end%>	
		  <% end %> 
		</table>
	</div>
</div>	