<% provide(:title, 'Score') %>
<h1> Score </h1>	
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<%= will_paginate %>
		<table border="1" style="width:100%">	
		  <tr>
		    <th><%= sort_link @search_user, :user_name, "user name" %></th>	
		    <th><%= sort_link @search_subject, :subject_title, "subject" %></th>	
		    <th><%= sort_link @search, :score %></th>
		    <th><%= sort_link @search, :created_at, "time" %></th>
		    <th>actions</th>
		  </tr>
		  <% @grades.each do |grade| %>
		  	<% if !grade.subject.nil? %>
				  <tr>   	
				    <td><%= link_to grade.user.name, review_admin_user_path(grade.user) %></td>
				    <td><%= grade.subject.title %></td>
				    <td><%= link_to grade.score, admin_grade_path(grade) %></td> 
				    <td><%= time_ago_in_words(grade.created_at) %> ago</td>
				    <td>
				  		<%= link_to "Delete", admin_grade_path(grade), method: :delete, data: { confirm: "You sure?" } %>
				  	</td> 
		  		</tr> 	
		  	<% end %>	
		  <% end %> 
		 
		</table>
		<%= will_paginate %>
	</div>
</div>	