<% provide(:title, 'test') %>
<h1><%= @subject.title %> test</h1>
<div class="row">	
	<div class="col-md-10 col-md-offset-1 ">	
		<div data-pjax-container>
			<div style="float: left; position:fixed; top:80px; right:1100px;">		
				<span id="time_left"> 
					<%= second_to_time("600".to_i - (Time.now - @time_info.start_time).to_i)%> 
				</span>
			</div>
		</div>		
		<%= form_for @test, url: url_for(controller: 'results', action: :create) do |f|%>	

			  <% @questions.each.with_index(1) do |question, index| %>
			  <%= "#{index}" %>.   	
			  <%= question.content %>			  	
		    	<%= f.fields_for :answers_attributes do |builder| %>
		    		<% if question.short_answer %>
					    <%= builder.text_area :"content[#{question.id}]", cols: 50, placeholder: "write your answer here..." %>
					  <% end %>  	
		    		<% question.answers.each do |answer| %>					   		  					    			   	 	
					    <% if question.multiple_check %> 			  	
				    		<ul id="ul">	
				    			<li><%= builder.check_box :"answer_id[#{answer.id}]" %>	
				    				<%= builder.label :answer_id, answer.content %>
				    			</li>		
					    	</ul>									    	    			
				    	<% elsif question.single_check %>
				    		<ul id="ul">				    	
				    			<li><%= builder.radio_button :"correct_answer[#{question.id}]", answer.id %>
				    				<%= builder.label :answer_id, answer.content %>
				    			</li>		
					    	</ul>				    
						  <% end %> 
						<% end %>   
					<% end %>  
			  <% end %>		  
			<%= f.hidden_field :subject_id, value: @subject.id %>
			<%= f.hidden_field :user_id, value: current_user.id %>
			<%= f.submit 'Submit', id: "submit_test", class: "btn btn-primary"%>		
		<% end %>	
		</div>
	</div>
</div>	
