<% provide(:title, 'test') %>
<h1> test</h1>	
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<table border="1" style="width:100%">	
		  <tr>
		    <th>index</th>
		    <th>question</th>		
		    <th>options</th>
		    <th>actions</th>
		  </tr>
		  <% @subjects.each.with_index(1) do |subject, index| %>
		  <tr>
		    <td><%= "#{index}" %></td>   	
		    <td><%= subject.title %></td>
		    <td><%= subject.questions.count  %></td> 	

		    <td>
		    	<%= link_to " View", subject_path(subject) %>
		    	|<%= link_to " Add question", new_question_path %>
		    	|<%= link_to " Edit", subject%>
		  		|<%= link_to " Delete", subject, method: :delete, data: { confirm: " You sure?" } %>
		  	</td> 
		  </tr> 
		  <% end %>
		</table>
	</div>
</div>	