<% provide(:title, 'score') %>
<h2><%= @test.score %></h2>
<div class="row">	
	<div class="col-md-10 col-md-offset-1">	
		<table border="1" style="width:100%"> 
		  <tr>
		    <th>index</th>
		    <th>question</th>		
		    <th>options</th>
		  </tr> 
		  <% @test.answers.each.with_index(1) do |answer, index| %>
		  <tr>
		    <td><%= "#{index}" %></td>   	
		    <td><%= answer.question.content %></td>
		    <td>	
		    	<% answer.question.answers.each do |answer| %>
		    		<% if question.single_check %>    			 	
			    		<ul id="ul">				    	
			    			<li><%= radio_button("answer", answer.id, checked: answer ? answer.id == answer.id : false, disable: true ) %>
			    				<%=  answer.content %>
			    			</li>		
				    	</ul>								    	    			
			    	<% elsif question.multiple_check %>
				    	<ul id="ul"> 
			    			<li><%= check_box :"correct_answer[#{answer.id}]" %>	
			    				<%= builder.label :answer_id, answer.content %>
			    			</li>		
				    	</ul>  						    	
				    <% elsif question.short_answer %>				  
				    	<ul>		
			    			<%= text_area :content %>			
			    		</ul> 	
						<% end %>   
					<% end %>  
		    </td> 
		  </tr> 
		  <% end %>		  
		</table>		
	</div>
</div>	